<div class="bg-body dark:bg-darkmode-body">
  {{ $image := .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}">
      {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mb-6 w-full rounded") }}
    </a>
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  {{ $categories := .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-circle-user mr-2"></i>
        {{ $authors := .Params.authors }}
        {{ if $authors }}
          {{ $len := len $authors }}
          {{ range $index, $author := $authors }}
            {{ if eq $index (sub $len 1) }}
              {{ if eq $len 1 }}
                {{ $author }}
              {{ else }}
                and {{ $author }}
              {{ end }}
            {{ else if eq $index (sub $len 2) }}
              {{ $author }}
            {{ else }}
              {{ $author }},
            {{ end }}
          {{ end }}
        {{ end }}
      </li>
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i, $p := $categories }}
          <span class="ms-1">
            {{ . }}{{ if ne $i (sub (len $categories) 1) }},{{ end }}
          </span>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
</div>
