// Add your own custom styles here
.image-container {
    display: flex;
    justify-content: space-between;
}

.image {
    flex-basis: 45%;
    margin-right: 2%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.image-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-image {
    width: 100%; /* Set the width to 100% */
    height: auto; /* Set the height to auto to maintain aspect ratio */
    margin-bottom: 20px; /* Add margin to the bottom of the image */
}


.container-footer {
    @apply mx-auto px-4 py-8 2xl:max-w-[1320px];
}

.image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
}