<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      
      <!-- Left section -->
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- Navbar brand/logo -->
        <a class="navbar-brand inline-block" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      
      <!-- Middle section -->
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
        <!-- Text: Get to know more about SocRob@Home and ISR -->
        <div class="mt-8 text-lg font-bold">Get to know more about SocRob@Home and ISR</div>
        <!-- Links -->
        <div class="mt-4 text-center">
          <!-- Left link -->
          <div class="mr-4 inline-block">
            <a href="https://irsgroup.isr.tecnico.ulisboa.pt/projects/socrob-home/">SocRob@Home's website</a>
          </div>
          <!-- Right link -->
          <div class="inline-block">
            <a href="https://welcome.isr.tecnico.ulisboa.pt/">ISR's website</a>
          </div>
          <div class="mt-4">
            <a href="https://www.youtube.com/@socrob_home">SocRob@Home's YouTube</a>
          </div>
        </div>
      </div>

      <!-- Right section -->
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
        <!-- Text: Contacts -->
        <div class="mb-4 text-lg font-bold text-center lg:text-right lg:text-left">
            Contacts
        </div>
        <!-- Your contact information -->
        <div>
            <!-- Add your contact information here -->
            <a href="mailto:antonio.v.morais.c@tecnico.ulisboa.pt">antonio.v.morais.c@tecnico.ulisboa.pt</a> <br>
            <a href="mailto:catarina.caramalho@tecnico.ulisboa.pt">catarina.caramalho@tecnico.ulisboa.pt</a> <br>
            <a href="mailto:joao.de.sa.carranca@tecnico.ulisboa.pt">joao.de.sa.carranca@tecnico.ulisboa.pt</a> <br>
            <a href="mailto:joaoppinheiro@tecnico.ulisboa.pt">joaoppinheiro@tecnico.ulisboa.pt</a> <br>
            <a href="mailto:patricia.torres@tecnico.ulisboa.pt">patricia.torres@tecnico.ulisboa.pt</a> <br>
            <a href="mailto:tiago.renou@tecnico.ulisboa.pt">tiago.renou@tecnico.ulisboa.pt</a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>

  <!-- Visitor Counter -->
  <div id="visitor-counter" class="text-center mt-4">
    <script type="text/javascript" src="http://www.hitwebcounter.com/counter/counter.js"></script>
    <a href="https://www.hitwebcounter.com" target="_blank">
      <img src="https://hitwebcounter.com/counter/counter.php?page=13829383&style=0006&nbdigits=5&type=page&initCount=424" title="Counter Widget" Alt="Visit counter For Websites"   border="0" /></a> 
    </div>
</footer>
