{{ define "main" }}
    {{ partial "page-header" . }}

    <section class="section">
        <div class="container">
            <div class="mb-8">
                {{ partial "image" (dict "Src" "/images/Team/equipa.png" "Alt" "equipa" "Size" "1300x650" "Class" "rounded") }}
            </div>
            <div class="row">
                {{ range .RegularPages }}
                    <div class="md:col-6 lg:col-4 mb-14">
                        {{ partial "components/author-card" . }}
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
